/*fundo*/
.fundo{

    background-color: #ffad00;
    backdrop-filter: brightness(90%);    
    
}
/*Alinhamento de logo*/
.fundo1{

    background-color: #ffad00;
    
    
}
.logo{
    background-color: #ffad00;
    background-position: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}
/*item do navbar*/
.btn-group{
    width: 40%;
    height: 40px;
    font-size:larger;
}

/*texto imagem*/

.h3-imagem{
    text-align: center;
}


/*Card Textos*/
.d-flex{
    background-color: #ffefdbf8;
    background-size: 100%;

    margin-left: 10%;
    margin-right: 10%;


    padding-left: 30px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 40px;


    border-radius: 10px;

}
.card-title{
    color: rgb(32, 32, 32);
}
.h1-atv{
    text-align: center;
}
.p-card1{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;


    color: #e27c00;
    text-align: justify;
    font-size: 30px;
    
}